/*-----------------------------------------------------general---------------------------------------------------------*/
*{
    box-sizing: border-box;
}
body{
    background-image: url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Caveat', cursive;
    color: white;
}
.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.row-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
}
/*-----------------------------------------------------header---------------------------------------------------------*/
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 80pt;
    width: 33%;
    transition: 2s;
    transition-delay: 0.5s;
}
.contact{
    padding: 30px;
    font-size: 40pt;
    width: 33%;
    border: 1px solid transparent;   
}
.lang{
    font-size: 40pt;
    margin: auto;
    width: 33%;
    text-align: right;
    transition: 3s;
}
.contact:hover{
    border: 1px solid white;
    border-radius: 10px;
}
/*-----------------------------------------------------main---------------------------------------------------------*/
h1{
    font-size: 70pt;
    padding: 30px;
}
h3{
    font-size: 50pt;
    padding: 20px;
}
span{
    font-family: 'Pacifico';
    color: turquoise;
}
p{
    font-size: 30pt;
}
.col-3{
    width: 20%;
}
.col-4{
    width: 30%;
}
.col-6{
    width: 45%;
}
.col-3, .col-4, .col-6{
    text-align: center;
    font-size: 2em;
}
/*-----------------------------------------------------footer---------------------------------------------------------*/
footer{
    text-align: center;
}
/*-----------------------------------------------------adaptive---------------------------------------------------------*/
/*desktop*/
@media(min-width:1200px){
    
}
/*laptop*/
@media(min-width:992px){

}
/*tablet*/
@media(min-width:768px){
    
}
/*mobile*/
@media(max-width:667px){

}